/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 767px) {
  .page {
    height: 100%;
    width: 100%;
    padding: 0.4rem;
  }
  .page .header__username {
    font-size: 1rem;
  }
  .page .habits {
    padding: 0;
  }
  .page .habits .habits-wrapper__title {
    font-size: 1rem;
  }
  .page .habits .habits-wrapper__item {
    margin: 8px 5px;
    font-size: 0.9rem;
  }
  .page .aside {
    width: 55px;
  }
  .page .aside .icon-wrapper__text {
    display: none;
  }
  .page .aside:active, .page .aside:focus, .page .aside:hover {
    position: absolute;
    height: 100%;
    width: 200px;
  }
  .page .aside:active .icon-wrapper__text, .page .aside:focus .icon-wrapper__text, .page .aside:hover .icon-wrapper__text {
    display: block;
  }
  .page .footer {
    font-size: 0.8rem;
  }
  .page .button {
    right: 20px;
    bottom: 70px;
    font-size: 1.1rem;
  }
}
.link {
  padding: 0 5px;
  color: inherit;
  transition: all 300ms ease-out;
}
.link:hover {
  color: #2270C2;
}

.button {
  /* https://css-tricks.com/using-sass-control-scope-bem-naming/ */
  cursor: pointer;
  border: 0;
  color: #111;
  transition: all 300ms ease-out;
}
.button:hover {
  /* TODO , &:focus, &:active */
  text-decoration: underline;
  color: #eee;
  background-color: #2270C2;
}
.button--auth {
  margin: 0.4rem 0;
  width: 100px;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
}
.button--add-habit {
  display: flex;
  align-items: center;
  /* font-weight: bold; */
  text-transform: uppercase;
  position: absolute;
  right: 40px;
  bottom: 100px;
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
}
.button--add-habit .button__icon {
  font-size: 30px;
  padding-right: 8px;
}
.button--confirm {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
}

.modal {
  position: fixed;
  top: 30%;
  left: calc(50% - 150px);
  width: 300px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
  /* &__register { } */
  /* &__error { } */
}
.modal__text {
  margin: 0.4rem 0;
  font-size: 0.9rem;
}
.modal__text--register-error, .modal__text--login-error {
  color: #f00;
}
.modal__login {
  display: none;
  /* not logged */
}
.modal__confirm {
  display: none;
  /* not logged */
}
.modal__title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  padding: 0.3rem;
  margin: 0.4rem 0;
  border-radius: 5px;
  border: 1px;
}
.modal__input:focus {
  border: 1px solid #719ECE;
}

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left bottom, #dddddd, #cacaca, #b8b7b8, #a6a5a5, #949393);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  height: calc(100% - 2rem);
  width: 1000px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
}
.wrapper .welcome-page {
  height: 100%;
  width: 100%;
  background-image: url("/holstee manifesto.70814771.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  filter: blur(4px);
}
.wrapper .habits-page {
  height: 100%;
  overflow: hidden;
  display: grid;
  display: none;
  /* not logged */
  grid-template-columns: minmax(55px, auto) 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
}
.wrapper .habits-page .header {
  grid-area: 1/1/2/3;
}
.wrapper .habits-page .aside {
  grid-area: 2/1/3/2;
}
.wrapper .habits-page .habits {
  grid-area: 2/2/3/3;
}
.wrapper .habits-page .footer {
  grid-area: 3/1/4/3;
}

.header {
  padding: 1rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
  display: flex;
  align-items: center;
}
.header__logo {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
}
.header__user {
  margin-left: auto;
  display: flex;
}
.header__username {
  /* TODO header__logo i header_user need to be changed */
  display: flex;
  align-items: center;
  padding-right: 6px;
}
.header__icon {
  font-size: 30px;
}

.aside {
  padding: 1rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
}
.aside .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aside .nav__item {
  padding: 10px 15px 10px 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.aside .nav__item:hover {
  color: #111;
  cursor: pointer;
}
.aside .nav__icon {
  font-size: 25px;
  padding-right: 5px;
}

.habits {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.habits .habits-wrapper__title {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-top: 1rem;
}
.habits .habits-wrapper__list {
  font-style: italic;
  /* border: 1px solid red; */
  margin-top: 20px;
}
.habits .habits-wrapper__item {
  margin: 10px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.habits .habits-wrapper__item:hover {
  color: #111;
  font-weight: bold;
  cursor: pointer;
}
.habits .habits-wrapper__item::before {
  content: "@ ";
  /* TODO 3 circle states */
}
.habits .habits-wrapper__item:nth-of-type(n + 1) {
  background: linear-gradient(90deg, #F38630 20%, white 0%);
}
.habits .habits-wrapper__item:nth-of-type(n + 2) {
  background: linear-gradient(90deg, #A7DBD8 60%, white 0%);
}
.habits .habits-wrapper__item:nth-of-type(3n + 1) {
  background: linear-gradient(90deg, #F4743B 30%, white 0%);
}
.habits .habits-wrapper__item:nth-of-type(4n + 1) {
  background: linear-gradient(90deg, #69D2E7 50%, white 0%);
}
.habits .habits-wrapper__item:nth-of-type(5n + 1) {
  background: linear-gradient(90deg, #ffc75f 80%, white 0%);
}

.footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 11px 0px #646464;
  -moz-box-shadow: 5px 5px 11px 0px #646464;
  box-shadow: 5px 5px 11px 0px #646464;
}
.footer__icon {
  font-size: 25px;
  padding: 0 5px;
}

/*# sourceMappingURL=/main.d9ee62f6.css.map */