.header {
  @include box(1rem, $light-theme-box);
  display: flex;
  align-items: center;

  &__logo {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
  }
  &__user {
    margin-left: auto;
    display: flex;
  }
  &__username {
    display: flex;
    align-items: center;
    padding-right: 6px;
  }
  &__icon {
    font-size: 30px;
  }
}

.aside {
  @include box(1rem, $light-theme-box);

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
      padding: 10px 15px 10px 0;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      &:hover {
        color: $light-theme-darker;
        cursor: pointer;
      }
    }
    &__icon {
      font-size: 25px;
      padding-right: 5px;
    }
  }
}



.habits {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;

  .habits-wrapper {
    &__title {
      text-transform: uppercase;
      font-size: 1.3rem;
      padding-top: 1rem;
    }
    // &__list {
    //   font-style: italic;
    // }
    &__item:first-of-type {
      margin-top: 25px;
    }
    &__item {
      margin: 10px;
      padding: 5px;
      &:hover {
        color: $light-theme-darker;
        font-weight: bold;
        cursor: pointer;
      }
    }
    &__item::before {
      content: '@ '; // TODO 3 circle states
    }
    &__item:nth-of-type(n + 1) {
      background-color: #F38630;
      width: 20%;
    }
    &__item:nth-of-type(n + 2) {
      background-color: #A7DBD8;
      width: 60%;
    }
    &__item:nth-of-type(3n + 1) {
      background-color: #F4743B;
      width: 100%;
    }
    &__item:nth-of-type(4n + 1) {
      background-color: #69D2E7;
      width: 80%;
    }
    &__item:nth-of-type(5n + 1) {
      background-color: #ffc75f;
    }
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include box(.5rem, $light-theme-box);

  &__link {
    padding: 0 5px;
    color: inherit;
    &:hover {
      font-weight: bold;
    }
  }
  &__icon {
    font-size: 25px;
    padding: 0 5px;
  }
}

.button {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 100px;
  color: $light-theme-darker;
  font-size: 1.3rem;
  @include box(.9rem, $light-theme-box);
  &__icon {
    font-size: 30px;
    padding-right: 8px;
  }

}

