
@media (max-width: 767px) {
  .wrapper {
    height: 100%;
    width: 100%;

    .header__username {
      font-size: 1rem;
    }

    .habits {
        padding-left: 0;
        padding-right: 1rem;

        .habits-wrapper {
          &__title {
            font-size: 1rem;
          }

          &__item {
            margin: 8px 5px;
            font-size: .9rem;
          }
        }
    }

    .aside {
        width: 55px;
        .nav__item {
          padding-right: 0;
        }
        .icon-wrapper__text {
          display: none;
        }
        &:active, &:focus,
        &:hover  {
          position: absolute;
          height: 100%;
          width: 170px;

          .icon-wrapper__text {
            display: block;
          }
        }
    }

    .footer {
      font-size: 0.8rem;
    }

    .button {
      right: 8px;
      bottom: 68px;
      font-size: 1.1rem;
    }

  }
}