@import 'reset';
@import 'colors';
// pages
@import 'habit-list';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  background-color: $main-light-color;
}
.container {
  background-image: linear-gradient(to right top, #0d2a55, #00415d, #006b70, #4a9473, #a2b775);
  height: 100%;
  // min-height: 1000px;
  // min-height: 1400px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 1000px;
  border-radius: 5px;
  // color: $main-dark-color;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 800px auto;
  gap: .5rem;

  .header { grid-area: 1 / 1 / 2 / 3;  }
  .aside { grid-area: 2 / 1 / 3 / 2; border-radius: 5px; }
  .main {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 5px;
    overflow-y: auto;
  }
  .footer { grid-area: 3 / 1 / 4 / 3 }
}
